body {
  background: #fff;
  color: #0c707d;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

h1, h2 {
  background: #0c707d;
  color: #fff;
  padding: 10px;
}
h2 {    margin: 0px;
}


select, input {
  color: #5483a1; 
  padding: 5px;
  border: 0px;
  width: 90%;
  text-align: center;
}
.tribe {
display: inline-block;
background: #bad8eb;
margin: 5px;
}
table, th, td {
  padding: 5px;
  border: 1px solid #fff;
  border-collapse: collapse;
}

.tribe_header {
  display: grid;
  grid-template-columns: auto 50px;
  background: #0c707d;

}
.tribe_icon {
height: 50px;
width: 50px;
}
